<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<title>Index Page</title>
<style type="text/css">
	
</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">TEST SYSTEM</a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Twitter</a></li>
            <li><a href="#">Facebook </a></li>
        </ul>
    </div>
    </div>
</nav>


<div class="row">	
<div class="col-md-4"></div>    
<div class="col-md-4">
 {% if session.logged_in %}
    <form role="form" action="{{ url_for('add_entry') }}" method="post">
        <div class="form-group">
		<label for="name">Title</label>
		<input type="text" class="form-control" name="title" placeholder="title">
		</div>
		<div class="form-group">
		<label for="name">Text</label>
		<input type="text" class="form-control" name="text" placeholder="text">
		</div>
        <button type="submit" class="btn btn-default">Share</button>
    </form>

  {% endif %}
</div>
</div>
<div text-align="center">
  <ul>
  {% for post in posts %}
    <div class="row">	
	<div class="col-md-3"></div> <li><h2>{{ post[2]}}</h2><div class="col-md-3">{{ post[1] }}</li></div>
	<div class="row">
	<h2>{{ post[0]}}</h2>
	</div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
</div>
</div>
</body>
</html>